@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(reset.css);
@import url(variables.css);
@import url(themes.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);
* {
  box-sizing: border-box;
  color: var(--color-text);
}
body {
  background-color: var(--background-color-body);
  display: grid;
  font-family: var(--font-family);
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  width: 100vw;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
  font-weight: 700;
}
h1,
h2 {
  text-align: center;
}
h1 {
  font-size: var(--font-size-3xl);
}
h2 {
  font-size: var(--font-size-xl);
}
.disabled {
  background-color: var(--background-color-disabled);
  color: var(--color-disabled);
  pointer-events: none;
}
.disabled:hover {
  border-color: transparent;
}
.disabled i {
  color: var(--color-disabled);
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: var(--font-size-xxl);
  }
  h2 {
    font-size: var(--font-size-l);
  }
}
